@font-face {
    font-family: Victor;
    src: url(Terminess.ttf);
}

body {
    font-family: Victor;
    font-size: large;
    background-attachment: fixed;
    background-image: url(images/motivational-4968_256.gif);
    background-size: cover;
    margin: 0;
    overflow: overlay;
}

h1 {
    color: rgb(105, 119, 146);
    font-size: xx-large;
    text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

a {
    color: rgb(142, 161, 197);
    margin-left: auto;
    margin-right: auto;
}

img {
    top: 0;
    bottom: 0;
    left: 0;        
    right: 0;
    margin: auto;
      
}

nav {
    position: sticky;
    overflow: hidden;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.link {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5px;
}

.badge {
    border-radius: 5px;
}

.content {
    margin: 0px;
    padding: 0px 100px;
    border-radius: 0%;
}

.profile-image {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    margin: 10px;
}

div {
    background-color: rgb(44, 44, 44, 0.2);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51, 51, 51, 0.5);
    margin: 10px;
    padding: 5px;
}

.background {
    background-color: rgb(44, 44, 44, 0);
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(0, 0, 0, 0);
    margin: 0px;
    padding: 5px;
}